<!-- <h1 class="center">Liste de Pokémons</h1> -->
<!-- <input #input (keyup.enter)="selectPokemon(input.value)" />
    <ng-container *ngIf="pokemonSelected!= undefined; else noPokemon">
        <h2>Voici le pokémon sélectionner {{ pokemonSelected.name }}</h2>
    </ng-container>
    <ng-template  #noPokemon>
    <h2>Pas de pokémon sélectionné</h2></ng-template> -->

<nav>
    <div class="nav-wrapper teal">
        <a href="#" class="brand-color center">
            Pokédex
        </a>
    </div>
</nav>    

<router-outlet></router-outlet>